<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        
        <!-- 
            Command descriptions and usages can be defined here, following the format:
            <add key="Command_$NAME_Description" value="description" />
            <add key="Command_$NAME_Usage" value="usage" />
        -->
        
        <add key="Command_Help_Description" value="Displays a list of all the registered commands, alongside their description and usage."/>
        <add key="Command_Help_Usage" value="glowberry help"/>
        
        <!-- server: specify the server | quick: ignore the console output. -->
        <add key="Command_Start_Description" value="Starts a Glowberry server based on a specified name."/>
        <add key="Command_Start_Usage" value="glowberry start --server {Server Name}"/>
        
        <add key="Command_Server_List_Description" value="Displays a list of all the registered servers."/>
        <add key="Command_Server_List_Usage" value="glowberry server-list"/>
        
        <add key="Command_Send_Message_Description" value="Sends a message to a specified server."/>
        <add key="Command_Send_Message_Usage" value="glowberry send-message --server {Server Name} --message {Message}"/>
        
        <add key="Command_Stop_Description" value="Stops a Glowberry server based on a specified name."/>
        <add key="Command_Stop_Usage" value="glowberry stop --server {Server Name}"/>
        
        <add key="Command_Restart_Description" value="Restarts a Glowberry server based on a specified name."/>
        <add key="Command_Restart_Usage" value="glowberry restart --server {Server Name}"/>
        
        <add key="Command_Force_Stop_Description" value="Kills a Glowberry server based on a specified name."/>
        <add key="Command_Force_Stop_Usage" value="glowberry force-stop --server {Server Name}"/>
        
    </appSettings>
</configuration>